In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('output.csv')

In [4]:
df.head(100)

,Address,STREET_NAME,HOUSE_NO,SUITE_NO
0,Heisterbergallee 10A,Heisterbergallee,10A,NaN
1,Via Dei Villini 4,Via Dei Villini,4,NaN
2,Marconiweg 5,Marconiweg,5,NaN
3,7 사곡1리지현 길,null,null,NaN
4,11 Hughes Cres,Hughes Cres,11,NaN
...,...,...,...,...
95,Meulebekestraat 57,Meulebekestraat,57,NaN
96,"Avenida Governador Leonel De Moura Brizola, 2973",Avenida Governador Leonel De Moura Brizola,"""",NaN
97,Via Emilia 17,Via Emilia,17,NaN
98,Heer-weg Zuid 124,Heer-weg,null,NaN
99,Karl-Marx-straße 120,Karl-Marx-,null,NaN

In [6]:
df.sample(50)

,Address,STREET_NAME,HOUSE_NO,SUITE_NO
70734,Dzwonkowa 14,Dzwonkowa,14,NaN
50240,Skelhøjevej 11,Skelhøjevej,11,NaN
1082,19 Sun Street,Sun Street,19,NaN
69273,Vesterveien 1,Vesterveien,1,NaN
42380,54 Rue Du Général Leclerc,Rue Du Général Leclerc,54,NaN
76783,徳島県 東沖洲 １丁目 １ 5,東沖洲 １丁目 １,徳島県 5,NaN
8339,Steinackerstrasse 35,Steinackerstrasse,35,NaN
67068,31 대왕판교로606번 길 삼평동,대왕판교로606번 길 삼평동,31,NaN
117161,Rue Laurent Gilys 8,Rue Laurent Gilys,8,NaN
54518,80 청수14 로 청당동,청수14 로 청당동,80,NaN
93089,2 Rue Hallé,Rue Hallé,2,NaN
81964,José Miguel Carrera 725,José Miguel Carrera,725,NaN
120517,Neidensteiner Straße 32,Neidensteiner Straße,32,NaN
117241,372 경부 고속도로,경부 고속도로,372,NaN
18932,Hohlweg 18,Hohlweg,18,NaN
109112,"Avenida João Naves De Ávila, 1331",Avenida João Naves De Ávila,"""",NaN
76896,22 School Road,School Road,22,NaN
11050,Johannes-Rau-weg 10,Johannes-Rau-weg,10,NaN
108159,129 Beach Road,Beach Road,129,NaN
29201,Hauptstrasse 24,Hauptstrasse,24,NaN
73006,Zaltbommelstraat 10,Zaltbommelstraat,10,NaN
41912,Via Andrea Mantegna 63,Via Andrea Mantegna,63,NaN
66401,Linzer Straße 21,Linzer Straße,21,NaN
84428,Calle Lo Cañas 3636,Calle Lo Cañas,3636,NaN
54441,5 Alma Road,Alma Road,5,NaN
88775,Gneisstraße 7,Gneisstraße,7,NaN
45801,Pipping 2A,Pipping,2A,NaN
59977,Gutsstraße 23,Gutsstraße,23,NaN
85528,"Avenida Mário Covas Junior, 68",Avenida Mário Covas Junior,"""",NaN
106699,15 Stafford Road,Stafford Road,15,NaN
85418,Hauptstraße 120,Hauptstraße,120,NaN
97332,"Avenida Brigadeiro Luís Antônio, 1035",Avenida Brigadeiro Luís Antônio,"""",NaN
119840,Am Leitenacker 9,Am Leitenacker,9,NaN
47402,Lange Dreef 17,Lange Dreef,17,NaN
94786,In Den Birken 66,In Den Birken,66,NaN
29047,Mikołowska 5,Mikołowska,5,NaN
18656,Hanns-Schwindt-straße 2,Hanns-Schwindt-,null,NaN
95841,86 교육원 로 중앙동,교육원 로 중앙동,86,NaN
29566,Friedrichstraße 30,Friedrichstraße,30,NaN
71006,Bosuil 160,Bosuil,160,NaN
51391,Bergmannstraße 7,Bergmannstraße,7,NaN
103887,3 Chemin De L'Hermitage,Chemin De L'Hermitage,3,NaN
7161,17 Lion Yard,Lion Yard,17,NaN
62148,Riethweg 13,Riethweg,13,NaN
19137,Hamburger Straße 152,Hamburger Straße,152,NaN
89942,Hans-Wittwer-straße 8,Hans-Wittwer-,null,NaN
118435,Ziegeleistraße 17-21,Ziegeleistraße -,17 21,NaN
39580,14 Rue Pierre Fontaine,Rue Pierre Fontaine,14,NaN
32449,Chaussée De Trélon 20,Chaussée De Trélon,20,NaN
34878,Stensberggata 13,Stensberggata,13,NaN

In [5]:
df_train = pd.read_csv('ver-2023-01_train_output.csv')

In [6]:
df_train.head()

,NAME,ADDRESS,STREET_NAME,HOUSE_NO,SUITE_NO,CITY,REGION,POSTAL,COUNTRY,NAME_RIGHT,ADDRESS_RIGHT,STREET_NAME_RIGHT,HOUSE_NO_RIGHT,SUITE_NO_RIGHT,CITY_RIGHT,REGION_RIGHT,POSTAL_RIGHT,COUNTRY_RIGHT,PRED
0,REGINA GEN HOSP RECVNG DOCK,1440 14TH AVE,14TH AVE,1440,NaN,REGINA,SK,S4P 0W5,CAN,MALTY NATIONAL BREWING CORP,1130 15TH AVE,15TH AVE,1130,NaN,REGINA,SK,S4P 0Y5,CAN,0
1,ATHOL MURRAY COLLEGE SODEXO,49 MAIN ST,MAIN ST,49,NaN,WILCOX,SK,S0G 5E0,CAN,COLLEGE OF NOTRE DAME CAFE,100 MAIN ST VARSITY HALL,MAIN ST VARSITY HALL,100,NaN,WILCOX,SK,S0G 5E0,CAN,0
2,EXTENDICARE SUNSET,260 SUNSET DR,SUNSET DR,260,NaN,REGINA,SK,S4S 2S3,CAN,EXTENDICARE PARKSIDE,4540 RAE ST,RAE ST,4540,NaN,REGINA,SK,S4S 3B4,CAN,0
3,EXTENDICARE SUNSET,260 SUNSET DR,SUNSET DR,260,NaN,REGINA,SK,S4S 2S3,CAN,EXTENDICARE ELMVIEW,4125 RAE ST,RAE ST,4125,NaN,REGINA,SK,S4S 3A5,CAN,0
4,BOSTON PIZZA,545 N ALBERT ST,N ALBERT ST,545,NaN,REGINA,SK,S4R 8E2,CAN,WESTO'S PIZZA,439 ALBERT ST,ALBERT ST,439,NaN,REGINA,SK,S4R 2P1,CAN,0

In [10]:
df_test = pd.read_csv('ver-2023-01_test_output.csv')

In [11]:
df_test.head()

,NAME,ADDRESS,STREET_NAME,HOUSE_NO,SUITE_NO,CITY,REGION,POSTAL,COUNTRY,NAME_RIGHT,ADDRESS_RIGHT,STREET_NAME_RIGHT,HOUSE_NO_RIGHT,SUITE_NO_RIGHT,CITY_RIGHT,REGION_RIGHT,POSTAL_RIGHT,COUNTRY_RIGHT,PRED
0,PIZZA HUT ELDORADO,"AVENIDA REBOUÇAS, 3970","AVENIDA REBOUÇAS,",3970,NaN,SÃO PAULO,SP,05402-600,BRA,PIZZA HUT ELDORADO,"AVENIDA REBOUÇAS, 3970","AVENIDA REBOUÇAS,",3970,NaN,SÃO PAULO,SP,05402-600,BRA,1
1,MOE'S,1326 TOWN CENTER DR,TOWN CENTER DR,1326,NaN,LAKELAND,FL,33803-7953,USA,MOES SOUTHWEST GRILL 404,1326 TOWN CENTER DR,TOWN CENTER DR,1326,NaN,LAKELAND,FL,33803-7953,USA,1
2,IBIS HOTEL,MOUNT TALBOT,MOUNT TALBOT,NaN,NaN,DUBLIN 22,DB,D22 F903,IRL,MALDRON HOTEL NEWLANDS CROSS,1A EXIT NAAS ROAD EXIT NAAS ROAD,NAAS ROAD EXIT NAAS ROAD,EXIT,1A,DUBLIN 22,DB,D22 V6Y6,IRL,0
3,RVR ENTERPRISES RAIPUR,SHARMA COMPLEX SHOP NO 4,SHARMA COMPLEX SHOP NO,NaN,4,RAIPUR,CHATTISGARH,493221,IND,RVR ENTERPRISES RAIPUR,SHARMA COMPLEX SHOP NO 4,SHARMA COMPLEX SHOP NO,NaN,4,RAIPUR,CHATTISGARH,493221,IND,1
4,ROYAL ORTHOPAEDIC HOSPITAL NHS,BRISTOL ROAD SOUTH NORTHFIELD,BRISTOL ROAD SOUTH NORTHFIELD,NaN,NaN,BIRMINGHAM,WM,B31 2AQ,GBR,ROYAL ORTHOPAEDIC HOSPITAL NHS,BRISTOL ROAD SOUTH NORTHFIELD,BRISTOL ROAD SOUTH NORTHFIELD,NaN,NaN,BIRMINGHAM,WM,B31 2AQ,GBR,1